<nav class="menu-header-menu-container">
  <ul id="menu-header-menu" class="nav main-menu row align-items-center">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item {{ if .HasChildren }}menu-item-has-children{{ end }}">
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $currentPage.Title) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $currentPage.Section "post")) }}
      {{ $active = or $active (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
      {{ if .URL }}
      <a class="menu-item--link {{ if $active }}active{{ end }}" href="{{ .URL }}">
        {{ .Name }}
      </a>
      {{else}}
      <span class="menu-item--link">{{.Name}}</span>
      {{ end }}
      {{ if .HasChildren }}
      <ul class="sub-menu">
        {{ range .Children }}
        <li class="menu-item {{ if $currentPage.HasMenuCurrent `main` . }}active{{ end }}">
          {{ if .URL }}
          <a class="menu-item--link {{ if $active }}active{{ end }}" href="{{ .URL }}">
            {{ .Name }}
          </a>
          {{else}}
          <span class="menu-item--link">{{.Name}}</span>
          {{ end }}
        </li>
        {{ end }}
      </ul>
      {{end}}
    </li>
    {{ end }}
  </ul>
</nav>
