<header class="site-header text-center sticky-top">
  <div class="container position-relative">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-auto logo">
        <a href="{{ relLangURL `/` }}" >
          {{ if .Site.Params.Logo }}
            <amp-img width="220" height="40" src="{{.Site.Params.Logo}}" alt="{{.Site.Params.Nme}}"
            title="{{.Site.Params.Nme}}"></amp-img>
          {{else}}
          {{.Site.Params.Nme}}
          {{ end }}
        </a>
      </div>
      <div class="col-lg-auto">
        <div class="site-nav-menu text-center" id="nav">
          {{ partial "header/menu.html" . }}
          <ul class="nav main-menu row align-items-center d-block d-lg-none">
            {{ partial "header/langs.html" . }}
          </ul>
        </div>
      </div>
      <button class="menu-lines" aria-label="Burger menu" id="menu-btn" role="button" tabindex="0"
        on="tap:menu-btn.toggleClass(class='menu-toggle'),body.toggleClass(class='body-overlay'),nav.toggleClass(class='show')">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="col-lg-auto d-none d-lg-block">
        <ul class="row nav search-lang">
          {{ partial "header/langs.html" . }}
        </ul>
      </div>
    </div>
  </div>
</header>
