<style amp-custom>
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1400px;
    --font-family-sans-serif: 'Lato', sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
      monospace;
  }
  *,
  :after,
  :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  article,
  aside,
  figure,
  footer,
  header,
  nav,
  section {
    display: block;
  }
  body {
    margin: 0;
    font-family: lato, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  ul ul {
    margin-bottom: 0;
  }
  b,
  strong {
    font-weight: bolder;
  }
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  figure {
    margin: 0 0 1rem;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
  }
  button {
    border-radius: 0;
  }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  button,
  input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button,
  input {
    overflow: visible;
  }
  button {
    text-transform: none;
  }
  [type='submit'],
  button {
    -webkit-appearance: button;
  }
  [type='button']:not(:disabled),
  [type='reset']:not(:disabled),
  [type='submit']:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }
  [type='submit']::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
  ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
  }
  [hidden] {
    display: none !important;
  }
  .h3,
  .h4,
  h1,
  h2,
  h3 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .h3,
  h3 {
    font-size: 1.75rem;
  }
  .h4 {
    font-size: 1.5rem;
  }
  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 990px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1380px;
    }
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 990px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1380px;
    }
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .no-gutters > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
  .col,
  .col-2,
  .col-4,
  .col-6,
  .col-auto,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-6,
  .col-lg-8,
  .col-lg-auto {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media (min-width: 992px) {
    .col-lg-auto {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .col-lg-2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
    .col-lg-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-lg-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    .col-lg-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-lg-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  .custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label:before,
  .was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label:before {
    border-color: #28a745;
  }
  .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label:before,
  .was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label:before {
    border-color: #dc3545;
  }
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  .btn-secondary:not(:disabled):not(.disabled).active,
  .btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
  }
  .btn-secondary:not(:disabled):not(.disabled).active:focus,
  .btn-secondary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
  }
  .btn-success:not(:disabled):not(.disabled).active,
  .btn-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
  }
  .btn-success:not(:disabled):not(.disabled).active:focus,
  .btn-success:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
  }
  .btn-info:not(:disabled):not(.disabled).active,
  .btn-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
  }
  .btn-info:not(:disabled):not(.disabled).active:focus,
  .btn-info:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
  }
  .btn-warning:not(:disabled):not(.disabled).active,
  .btn-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
  }
  .btn-warning:not(:disabled):not(.disabled).active:focus,
  .btn-warning:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
  }
  .btn-danger:not(:disabled):not(.disabled).active,
  .btn-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
  }
  .btn-danger:not(:disabled):not(.disabled).active:focus,
  .btn-danger:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  }
  .btn-light:not(:disabled):not(.disabled).active,
  .btn-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
  }
  .btn-light:not(:disabled):not(.disabled).active:focus,
  .btn-light:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  }
  .btn-dark:not(:disabled):not(.disabled).active,
  .btn-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
  }
  .btn-dark:not(:disabled):not(.disabled).active:focus,
  .btn-dark:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
  .btn-outline-success:not(:disabled):not(.disabled).active,
  .btn-outline-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  .btn-outline-success:not(:disabled):not(.disabled).active:focus,
  .btn-outline-success:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  }
  .btn-outline-info:not(:disabled):not(.disabled).active,
  .btn-outline-info:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  .btn-outline-info:not(:disabled):not(.disabled).active:focus,
  .btn-outline-info:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  }
  .btn-outline-warning:not(:disabled):not(.disabled).active,
  .btn-outline-warning:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
  .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  }
  .btn-outline-danger:not(:disabled):not(.disabled).active,
  .btn-outline-danger:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
  .btn-outline-danger:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  .btn-outline-light:not(:disabled):not(.disabled).active,
  .btn-outline-light:not(:disabled):not(.disabled):active {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  .btn-outline-light:not(:disabled):not(.disabled).active:focus,
  .btn-outline-light:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  }
  .btn-outline-dark:not(:disabled):not(.disabled).active,
  .btn-outline-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
  .btn-outline-dark:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }
  .collapse:not(.show) {
    display: none;
  }
  .custom-control-input:focus:not(:checked) ~ .custom-control-label:before {
    border-color: #80bdff;
  }
  .custom-control-input:not(:disabled):active ~ .custom-control-label:before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  .accordion > .card {
    overflow: hidden;
  }
  .accordion > .card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion > .card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
  }
  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .close:not(:disabled):not(.disabled):focus,
  .close:not(:disabled):not(.disabled):hover {
    opacity: 0.75;
  }
  .align-middle {
    vertical-align: middle !important;
  }
  .border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
  }
  .d-none {
    display: none !important;
  }
  .d-inline-block {
    display: inline-block !important;
  }
  .d-block {
    display: block !important;
  }
  @media (min-width: 992px) {
    .d-lg-none {
      display: none !important;
    }
    .d-lg-block {
      display: block !important;
    }
  }
  .justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .position-relative {
    position: relative !important;
  }
  .position-absolute {
    position: absolute !important;
  }
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  }
  .h-100 {
    height: 100% !important;
  }
  .stretched-link:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: '';
    background-color: transparent;
  }
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mr-5 {
    margin-right: 0.3125rem !important;
  }
  .mb-5 {
    margin-bottom: 0.3125rem !important;
  }
  .mt-10 {
    margin-top: 0.625rem !important;
  }
  .mr-10 {
    margin-right: 0.625rem !important;
  }
  .mb-10 {
    margin-bottom: 0.625rem !important;
  }
  .mb-15 {
    margin-bottom: 0.9375rem !important;
  }
  .mt-20 {
    margin-top: 1.25rem !important;
  }
  .mr-20 {
    margin-right: 1.25rem !important;
  }
  .mb-20 {
    margin-bottom: 1.25rem !important;
  }
  .mb-25 {
    margin-bottom: 1.5625rem !important;
  }
  .mb-30 {
    margin-bottom: 1.875rem !important;
  }
  .py-5 {
    padding-top: 0.3125rem !important;
  }
  .px-5 {
    padding-right: 0.3125rem !important;
  }
  .py-5 {
    padding-bottom: 0.3125rem !important;
  }
  .px-5 {
    padding-left: 0.3125rem !important;
  }
  .p-10 {
    padding: 0.625rem !important;
  }
  .pt-10,
  .py-10 {
    padding-top: 0.625rem !important;
  }
  .px-10 {
    padding-right: 0.625rem !important;
  }
  .pb-10,
  .py-10 {
    padding-bottom: 0.625rem !important;
  }
  .pl-10,
  .px-10 {
    padding-left: 0.625rem !important;
  }
  .p-15 {
    padding: 0.9375rem !important;
  }
  .pt-15 {
    padding-top: 0.9375rem !important;
  }
  .pl-15 {
    padding-left: 0.9375rem !important;
  }
  .p-20 {
    padding: 1.25rem !important;
  }
  .py-20 {
    padding-top: 1.25rem !important;
  }
  .px-20 {
    padding-right: 1.25rem !important;
  }
  .pb-20,
  .py-20 {
    padding-bottom: 1.25rem !important;
  }
  .px-20 {
    padding-left: 1.25rem !important;
  }
  .px-25 {
    padding-right: 1.5625rem !important;
  }
  .pl-25,
  .px-25 {
    padding-left: 1.5625rem !important;
  }
  .pt-30 {
    padding-top: 1.875rem !important;
  }
  .px-30 {
    padding-right: 1.875rem !important;
  }
  .px-30 {
    padding-left: 1.875rem !important;
  }
  .pr-40 {
    padding-right: 2.5rem !important;
  }
  .pl-40 {
    padding-left: 2.5rem !important;
  }
  .pt-60 {
    padding-top: 3.75rem !important;
  }
  .mt-n40 {
    margin-top: -2.5rem !important;
  }
  .mt-n60 {
    margin-top: -3.75rem !important;
  }
  @media (min-width: 768px) {
    .pt-md-20 {
      padding-top: 1.25rem !important;
    }
    .pb-md-20 {
      padding-bottom: 1.25rem !important;
    }
    .pb-md-50 {
      padding-bottom: 3.125rem !important;
    }
  }
  @media (min-width: 992px) {
    .mr-lg-0 {
      margin-right: 0 !important;
    }
    .mb-lg-0 {
      margin-bottom: 0 !important;
    }
    .mb-lg-10 {
      margin-bottom: 0.625rem !important;
    }
    .mb-lg-15 {
      margin-bottom: 0.9375rem !important;
    }
    .mb-lg-30 {
      margin-bottom: 1.875rem !important;
    }
    .mb-lg-50 {
      margin-bottom: 3.125rem !important;
    }
    .pt-lg-0 {
      padding-top: 0 !important;
    }
    .px-lg-0 {
      padding-right: 0 !important;
    }
    .pl-lg-0,
    .px-lg-0 {
      padding-left: 0 !important;
    }
    .px-lg-10 {
      padding-right: 0.625rem !important;
    }
    .px-lg-10 {
      padding-left: 0.625rem !important;
    }
    .p-lg-20 {
      padding: 1.25rem !important;
    }
    .px-lg-20 {
      padding-right: 1.25rem !important;
    }
    .px-lg-20 {
      padding-left: 1.25rem !important;
    }
    .p-lg-30 {
      padding: 1.875rem !important;
    }
    .py-lg-30 {
      padding-top: 1.875rem !important;
    }
    .px-lg-30 {
      padding-right: 1.875rem !important;
    }
    .py-lg-30 {
      padding-bottom: 1.875rem !important;
    }
    .pl-lg-30,
    .px-lg-30 {
      padding-left: 1.875rem !important;
    }
    .py-lg-60 {
      padding-top: 3.75rem !important;
    }
    .py-lg-60 {
      padding-bottom: 3.75rem !important;
    }
    .mx-lg-n30 {
      margin-right: -1.875rem !important;
    }
    .mx-lg-n30 {
      margin-left: -1.875rem !important;
    }
  }
  .text-center {
    text-align: center !important;
  }
  @media (min-width: 992px) {
    .text-lg-left {
      text-align: left !important;
    }
  }
  .text-uppercase {
    text-transform: uppercase !important;
  }
  .text-white {
    color: #fff !important;
  }
  @media print {
    *,
    :after,
    :before {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    a:not(.btn) {
      text-decoration: underline;
    }
    img {
      page-break-inside: avoid;
    }
    h2,
    h3,
    p {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
    @page {
      size: a3;
    }
    body {
      min-width: 992px !important;
    }
    .container {
      min-width: 992px !important;
    }
  }
  body {
    position: relative;
    background-color: #f8fafc;
  }
  @media (max-width: 991.98px) {
    body {
      overflow-x: hidden;
    }
  }
  body.body-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.8);
  }
  @media (max-width: 575.98px) {
    .container {
      padding: 0 15px;
    }
  }
  figure,
  p,
  ul {
    margin: 0;
  }
  a,
  img {
    -webkit-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
  }
  img {
    max-width: 100%;
  }
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
  a:focus,
  button:focus,
  input:focus {
    outline: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .sticky-top {
    top: 100px;
  }
  @media (min-width: 992px) {
    .collapse.dont-collapse-md {
      display: block;
      height: auto !important;
      visibility: visible;
    }
  }
  .iso-flag {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-switcher > li {
    cursor: pointer;
  }
  @media (max-width: 991.98px) {
    .main-switcher > li > span {
      margin-bottom: 20px;
      display: block;
    }
  }
  @media (max-width: 991.98px) {
    .casino-review {
      overflow: hidden;
    }
  }
  @media (max-width: 991.98px) {
    .casino-review > .container {
      padding: 0 1px;
    }
  }
  img:not(.lazyload) {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  .site-header {
    background-color: #fff;
    z-index: 2000;
  }
  .site-header .container {
    padding: 13px 0;
  }
  @media (max-width: 991.98px) {
    .site-header .row {
      margin: 0;
    }
  }
  .site-header .logo img {
    width: 180px;
  }
  @media (min-width: 992px) {
    .site-header .logo img {
      width: 226px;
    }
  }
  .site-header .search-lang span {
    font-size: 14px;
    font-weight: 300;
    margin-left: 5px;
    color: #414a52;
  }
  .site-header .search-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
  }
  @media (min-width: 992px) {
    .site-header .search-btn {
      position: unset;
      cursor: pointer;
    }
  }
  .site-header.sticky-top {
    top: 0;
  }
  .site-nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    top: 5px;
    background-color: #fff;
    z-index: 2000;
    overflow-y: scroll;
  }
  .site-nav-menu.show {
    display: block;
  }
  @media (min-width: 992px) {
    .site-nav-menu {
      display: block;
      position: unset;
      width: 100%;
      height: auto;
      overflow: unset;
    }
  }
  .site-nav-menu:before {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    background-image: url(../images/backgrounds/menu-resp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 52px;
  }
  @media (min-width: 992px) {
    .site-nav-menu:before {
      content: none;
    }
  }
  .site-nav-menu ul {
    margin: 0;
  }
  @media (min-width: 992px) {
    .site-nav-menu ul {
      margin: 0 -45px;
    }
  }
  .site-nav-menu li {
    cursor: pointer;
    position: relative;
    padding: 25px 0;
    width: 100%;
  }
  @media (min-width: 992px) {
    .site-nav-menu li {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
      padding: 0 15px;
    }
  }
  @media (min-width: 1400px) {
    .site-nav-menu li {
      padding: 0 45px;
    }
  }
  .site-nav-menu li.menu-item-has-children ul {
    display: none;
    -webkit-box-shadow: 0 2px 8px 0 rgba(33, 36, 38, 0.1);
    box-shadow: 0 2px 8px 0 rgba(33, 36, 38, 0.1);
    background-color: #fff;
    border-radius: 4px;
  }
  .site-nav-menu li.menu-item-has-children ul li {
    padding: 5px 0;
  }
  @media (min-width: 992px) {
    .site-nav-menu li.menu-item-has-children ul {
      position: absolute;
      left: 0;
      top: 24px;
      width: 220px;
    }
  }
  .site-nav-menu li.menu-item-has-children:hover ul {
    display: block;
  }
  .site-nav-menu li + li {
    position: relative;
  }
  .site-nav-menu li + li:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 260px;
    background-color: #eee;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
  }
  @media (min-width: 992px) {
    .site-nav-menu li + li:before {
      content: none;
    }
  }
  .site-nav-menu .menu-item--link {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #635a70;
    text-transform: uppercase;
  }
  .site-nav-menu .menu-item--link:before {
    position: absolute;
    left: 50%;
    bottom: -2px;
    content: '';
    width: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: 0;
    border-bottom: 1px solid #000;
  }
  .site-nav-menu .menu-item--link:hover:before {
    left: 0;
    width: 100%;
    opacity: 1;
    border-bottom-color: #635a70;
  }
  @media (min-width: 992px) {
    .site-nav-menu .menu-item--link {
      font-size: 14px;
      color: #635a70;
    }
  }
  .menu-lines {
    display: block;
    position: relative;
    z-index: 2;
    top: -28px;
    left: 15px;
    background-color: #fff;
    border: none;
  }
  .menu-lines > span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #898989;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-lines span:first-child {
    width: 8px;
    -webkit-transform: translate(0, 4px);
    -ms-transform: translate(0, 4px);
    transform: translate(0, 4px);
  }
  .menu-lines span:nth-child(2) {
    width: 12px;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  .menu-lines span:last-child {
    width: 16px;
    -webkit-transform: translate(0, 16px);
    -ms-transform: translate(0, 16px);
    transform: translate(0, 16px);
  }
  @media (min-width: 992px) {
    .menu-lines {
      display: none;
    }
  }
  .menu-toggle {
    top: -32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(90, 106, 117, 0.2);
  }
  .menu-toggle > span {
    background-color: #01345a;
    margin: auto;
  }
  .menu-toggle span:first-child {
    width: 14px;
    -webkit-transform: translate(0, 0) rotate(-45deg);
    -ms-transform: translate(0, 0) rotate(-45deg);
    transform: translate(0, 0) rotate(-45deg);
  }
  .menu-toggle span:nth-child(2) {
    width: 14px;
    -webkit-transform: translate(0, 0) rotate(45deg);
    -ms-transform: translate(0, 0) rotate(45deg);
    transform: translate(0, 0) rotate(45deg);
  }
  .menu-toggle span:last-child {
    width: 14px;
    -webkit-transform: translate(0, 0) rotate(45deg);
    -ms-transform: translate(0, 0) rotate(45deg);
    transform: translate(0, 0) rotate(45deg);
  }
  #search input[type='text'] {
    padding: 0 110px 0 20px;
  }
  @media (min-width: 992px) {
    #search input[type='text'] {
      padding: 0 220px 0 50px;
    }
  }
  #search input[type='submit'] {
    position: absolute;
    top: 10px;
    right: 0;
    width: 100px;
    padding: 0;
  }
  @media (min-width: 992px) {
    #search input[type='submit'] {
      width: 192px;
    }
  }
  .lang-dropdown ul {
    right: 0;
    left: unset;
  }
  @media (max-width: 991.98px) {
    .lang-dropdown ul {
      right: 0;
      left: 0;
    }
  }
  .site-footer .foot {
    background-color: #003760;
  }
  .site-footer .foot p {
    opacity: 0.7;
  }
  .site-footer .h3 {
    pointer-events: none;
  }
  @media (max-width: 991.98px) {
    .site-footer .h3 {
      pointer-events: inherit;
      cursor: pointer;
    }
  }
  .site-footer .h3 .symbol {
    top: 0;
    left: 9px;
    right: unset;
    width: 11px;
    height: 11px;
    border: 1px solid #898989;
    border-radius: 50%;
    background-color: transparent;
  }
  @media (min-width: 992px) {
    .site-footer .h3 .symbol {
      display: none;
    }
  }
  .site-footer .h3 .symbol:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 1px;
    top: 4px;
    left: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .site-footer .h3 .symbol:after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 5px;
    height: 1px;
    top: 4px;
    left: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .site-footer .menu li {
    padding-left: 20px;
    position: relative;
  }
  @media (min-width: 992px) {
    .site-footer .menu li {
      padding: 0;
    }
  }
  .site-footer .menu li:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 10px;
    left: 3px;
  }
  @media (min-width: 992px) {
    .site-footer .menu li:before {
      content: none;
    }
  }
  .site-footer .menu a {
    opacity: 0.7;
  }
  .site-footer .copy {
    background-color: #212426;
  }
  .site-footer .copy p {
    opacity: 0.7;
  }
  .fs-10 {
    font-size: 10px !important;
  }
  .fs-11 {
    font-size: 11px;
  }
  .fs-12 {
    font-size: 12px;
  }
  .fs-13 {
    font-size: 13px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-22 {
    font-size: 22px;
  }
  .lh-18 {
    line-height: 18px;
  }
  .lh-24 {
    line-height: 24px;
  }
  .lh-46 {
    line-height: 46px;
  }
  .fw-300 {
    font-weight: 300;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }
  .background-green {
    background-color: #2cdd67;
  }
  .text-purple {
    color: #484252;
  }
  .text-greyBlue {
    color: #5a6a75;
  }
  .text-blue {
    color: #003760 !important;
  }
  .background-blue {
    background-color: #003760;
  }
  .text-grey {
    color: #898989;
  }
  .text-closeBlack {
    color: #28262d;
  }
  .text-closeBlack2 {
    color: #1e1c21;
  }
  .main-button {
    background-color: #2cdd67;
    border-radius: 4px;
    padding: 5px 0;
    border: none;
    width: 95%;
  }
  .main-button:hover {
    background-color: #63e28e;
  }
  .btn-text-only {
    text-decoration: underline;
  }
  .content h1,
  .content h2 {
    font-size: 18px;
    color: #28262d;
    margin-bottom: 10px;
  }
  @media (min-width: 992px) {
    .content h1,
    .content h2 {
      font-size: 27px;
      margin-bottom: 20px;
    }
  }
  .content h3 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #1e1c21;
    margin-bottom: 20px;
  }
  @media (min-width: 992px) {
    .content h3 {
      font-size: 20px;
    }
  }
  @media (min-width: 1400px) {
    .content h3 {
      font-size: 22px;
    }
  }
  .content li,
  .content p {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #5a6a75;
    letter-spacing: 0.43px;
  }
  .content p strong {
    font-weight: 700;
  }
  @media (min-width: 992px) {
    .content li,
    .content p {
      font-size: 14px;
    }
  }
  .content li,
  .content p:not(:last-child) {
    margin-bottom: 20px;
  }
  .content li {
    position: relative;
    padding-left: 30px;
  }
  .content li:before {
    content: '';
    background-image: url(../images/icons/check_circle_green.svg);
    background-repeat: no-repeat;
    top: 2px;
    left: 0;
    position: absolute;
    width: 18px;
    height: 18px;
  }
  .aligncenter {
    display: block;
    padding: 0;
  }
  .aligncenter {
    float: none;
    margin: 0.5em auto 1em;
  }
  .size-full {
    height: 100%;
  }
  .sidebar {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
  }
  .sidebar header {
    background-color: #fff;
  }
  .sidebar footer {
    background-color: #f5f5f5;
  }
  .sidebar .new-customer {
    color: #a09da5;
  }
  .sidebar li:nth-child(odd) {
    background-color: rgba(151, 151, 151, 0.05);
    border-radius: 4px;
  }
  form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    padding: 0 50px;
    background-repeat: no-repeat;
    background-position: 20px center;
    font-size: 14px;
    font-weight: 300;
    line-height: 46px;
    color: #5a6a75;
  }
  form input[type='submit'] {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
  }
  @media (min-width: 992px) {
    form input[type='submit'] {
      width: 192px;
    }
  }
  .hero-section p {
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
  }
  @media (min-width: 992px) {
    .hero-section p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .best-casinos .casino-holder {
    -webkit-box-shadow: 0 2px 8px 0 rgba(33, 36, 38, 0.1);
    box-shadow: 0 2px 8px 0 rgba(33, 36, 38, 0.1);
    background-color: #fff;
  }
  @media (max-width: 991.98px) {
    .best-casinos .casino-holder {
      background-color: #f5f7f9;
    }
  }
  .best-casinos .casino-holder .tag-mnt {
    border-radius: 4px;
    top: -17px;
    left: 0;
  }
  .best-casinos .casino-holder .casino-of-month {
    top: -20px;
    left: -15px;
    z-index: 2;
  }
  .best-casinos .casino-holder .casino-of-month img {
    width: 36px;
    height: 36px;
  }
  .best-casinos .casino-holder .line {
    z-index: 1;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0 0 0 4px;
  }
  .best-casinos .casino-holder .rating {
    width: 32px;
    height: 32px;
    top: -20px;
    right: 0;
    border-radius: 50%;
    line-height: 1.2;
  }
  @media (min-width: 992px) {
    .best-casinos .casino-holder .rating {
      width: 44px;
      height: 44px;
    }
  }
  .best-casinos .casino-holder .rating.rating-review {
    top: 5px;
    right: 5px;
  }
  @media (max-width: 991.98px) {
    .best-casinos .casino-holder .rating img {
      width: 9px;
      height: 9px;
      margin-top: -8px;
    }
  }
  .best-casinos .casino-holder .rating p {
    font-size: 12px;
    font-weight: 700;
    margin-top: -8px;
  }
  @media (min-width: 992px) {
    .best-casinos .casino-holder .rating p {
      font-size: 18px;
      margin-top: -4px;
    }
  }
  .best-casinos .casino-holder figure {
    border-radius: 4px;
    overflow: hidden;
  }
  .best-casinos .casino-holder figure img {
    width: 90px;
    height: 90px;
  }
  .best-casinos .casino-holder figure:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .best-casinos .casino-holder .casino-logo {
    border-radius: 4px;
    overflow: hidden;
  }
  .best-casinos .casino-holder .casino-logo img {
    width: auto;
    height: auto;
  }
  .best-casinos .casino-holder.today-offer .casino-logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  .best-casinos .casino-holder .media figure {
    width: 62px;
    height: 62px;
  }
  .best-casinos .casino-holder .media figure img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -999999px;
    right: -999999px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  @media (min-width: 992px) {
    .best-casinos .casino-holder .media figure {
      width: 90px;
      height: 90px;
    }
  }
  .best-casinos .cryptos {
    margin: 0 -4px;
  }
  @media (max-width: 991.98px) {
    .best-casinos .cryptos {
      margin: -4px;
    }
  }
  .best-casinos .cryptos > li {
    padding: 0 4px;
  }
  .best-casinos .cryptos > li img {
    width: 20px;
    height: 20px;
  }
  @media (max-width: 991.98px) {
    .best-casinos .buttons {
      background-color: #fff;
    }
    .best-casinos .buttons .main-button {
      margin: 0 10px;
    }
  }
  @media (max-width: 991.98px) {
    .best-casinos.casino-today .casino-holder {
      background-color: #fff;
    }
  }
  @media (max-width: 991.98px) {
    .best-casinos.casino-today .cryptos {
      margin: 4px -4px;
    }
  }
  .best-casinos.casino-today .new-customer {
    color: #a09da5;
  }
  @media (max-width: 991.98px) {
    .best-casinos.casino-today .new-customer {
      background-color: #fff;
    }
  }
  @media (max-width: 991.98px) {
    .best-casinos.casino-today .welcome-bonus {
      background-color: #f5f7f9;
      border-radius: 4px;
    }
  }
  @media (max-width: 991.98px) {
    .best-casinos.casino-today .buttons .main-button {
      margin: 0;
    }
  }
  .best-casinos .collapse {
    background-color: #fff;
  }
  .best-casinos .welcome-bonus {
    background-color: #f5f7f9;
    background-image: url(/images/icons/money-bag.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
  }
  @media (max-width: 991.98px) {
    .best-casinos .welcome-bonus {
      background-color: #fff;
    }
  }
  .best-casinos .welcome-bonus figure {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #fff;
    position: relative;
  }
  .best-casinos .welcome-bonus figure img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -999999px;
    right: -999999px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .best-casinos .welcome-bonus p {
    font-size: 18px;
    font-weight: 900;
    color: #003760;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  @media (min-width: 992px) {
    .best-casinos .welcome-bonus p {
      font-size: 20px;
    }
  }
  .best-casinos .welcome-bonus p strong {
    color: #f9423a;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .best-casinos .welcome-bonus.bg-none {
    background-image: none;
  }
  .best-casinos .welcome-bonus.bg-none p {
    font-size: 18px;
  }
  @media (min-width: 992px) {
    .best-casinos .welcome-bonus.bg-none p {
      font-size: 24px;
    }
  }
  .best-casinos .welcome-bonus a:hover p {
    color: #fde13f;
  }
  .best-casinos .welcome-bonus a:hover p strong {
    color: #fde13f;
  }
  .best-casinos .highlights li {
    position: relative;
  }
  .best-casinos .highlights li:before {
    content: '';
    position: absolute;
    background-image: url(/images/icons/check_circle_grey.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
  }
  .best-casinos .highlights li + li {
    margin-top: 5px;
  }
  .best-casinos .highlights.check-green li:before {
    background-image: url(../images/icons/check_circle_green.svg);
    top: 0;
  }
  .best-casinos .quick-facts {
    position: relative;
  }
  .best-casinos .quick-facts:before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/arrow-down.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    top: 5px;
    right: -10px;
  }
  .best-casinos .new-customer {
    background-color: #f9f9f9;
    margin: 0 -20px;
    padding: 0 20px;
    color: #a09da5;
  }
  .best-casinos .new-customer p {
    font-size: 10px;
  }
  [data-tooltip] {
    position: relative;
  }
  img[data-tooltip]:before {
    /* content: attr(data-tooltip); */
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    background: #000000;
  }
  
  [data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
  }
  @media (max-width: 991.98px) {
    .best-casinos .new-customer {
      background-color: #f9f9f9 !important;
      margin: 0 -10px;
      padding: 0;
    }
  }
  .best-casinos .custom-body li {
    border-radius: 4px;
  }
  .best-casinos .custom-body li:nth-child(2n) {
    background-color: transparent;
  }
  .best-casinos .custom-body li:nth-child(odd) {
    background-color: #e6ebee;
  }
  @media (min-width: 992px) {
    .best-casinos .custom-body li:last-child {
      background-color: transparent;
    }
  }
  .best-casinos .information .information-holder {
    background-color: #fff;
    border-radius: 4px;
    overflow-y: scroll;
    max-height: 185px;
    min-height: 185px;
  }
  .best-casinos .information img {
    width: 20px;
    height: 20px;
  }
  .best-casinos .information li span {
    background-color: rgba(0, 55, 96, 0.05);
    border-radius: 4px;
  }
  .best-casinos .information li:nth-child(4n) span,
  .best-casinos .information li:nth-child(4n - 1) span {
    background-color: #fff;
  }
  .best-casinos .information .checks li:before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/check_circle_green.svg);
    background-repeat: no-repeat;
    left: 20px;
    top: 7px;
    width: 18px;
    height: 18px;
  }
  .faq .card {
    border: none;
    background-color: transparent;
  }
  .faq .card-header {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .faq h3 {
    position: relative;
    background-color: #fff;
    color: #003760;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .faq h3 .symbol {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #898989;
    border-radius: 50%;
    background-color: transparent;
  }
  @media (min-width: 992px) {
    .faq h3 .symbol {
      top: 30px;
      right: 30px;
    }
  }
  .faq h3 .symbol:after,
  .faq h3 .symbol:before {
    content: '';
    position: absolute;
    background-color: #898989;
    width: 10px;
    height: 2px;
    top: 7px;
    left: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .faq h3.collapsed {
    background-color: transparent;
    color: #1e1c21;
    border-bottom: 2px solid #b0acb7;
  }
  .faq h3.collapsed .symbol {
    background-color: #003760;
    border: 2px solid #003760;
  }
  .faq h3.collapsed .symbol:before {
    top: 3px;
    left: 7px;
    width: 2px;
    height: 10px;
    background-color: #fff;
  }
  .faq h3.collapsed .symbol:after {
    top: 7px;
    left: 3px;
    width: 10px;
    height: 2px;
    background-color: #fff;
  }
  .faq .card-body {
    background-color: #fff;
    padding: 0;
  }
  .hero-section .single-casino .casino-holder {
    border-radius: 4px;
  }
  .hero-section .single-casino .rating {
    width: 32px;
    height: 32px;
    top: 5px;
    right: 5px;
  }
  .hero-section .single-casino .rating img {
    width: 9px;
    height: 9px;
    margin-top: -8px;
  }
  .hero-section .single-casino .rating p {
    font-size: 12px;
    margin-top: -8px;
    font-weight: 700;
  }
  @media (min-width: 992px) {
    .hero-section .single-casino .rating p {
      font-size: 18px;
      margin: 0;
    }
  }
  @media (max-width: 991.98px) {
    .hero-section .single-casino .media-body span {
      margin: 20px 0 5px;
      display: block;
    }
  }
  .hero-section .single-casino .casino-logo {
    border: 2px solid #fff;
  }
  .hero-section .single-casino .buttons {
    background-color: transparent;
  }
  .hero-section .introduction {
    background-color: #fff;
  }
  .hero-section .introduction:nth-child(2) {
    border-radius: 4px 4px 0 0;
  }
  .hero-section .introduction:last-child {
    border-radius: 0 0 4px 4px;
  }
  .hero-section .introduction header:before {
    content: '';
    position: absolute;
    top: 24px;
    right: 24px;
    width: 9px;
    height: 9px;
    border-top: 2px solid #003760;
    border-left: 2px solid #003760;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hero-section .introduction header.collapsed:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  .hero-section .introduction .collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .hero-section .information .h4 {
    pointer-events: none;
    position: relative;
    font-size: 14px;
  }
  @media (max-width: 991.98px) {
    .hero-section .information .h4 {
      font-size: 11px;
    }
  }
  @media (max-width: 991.98px) {
    .hero-section .information .h4 {
      pointer-events: inherit;
      cursor: pointer;
    }
    .hero-section .information .h4:before {
      content: '';
      position: absolute;
      top: 4px;
      right: 9px;
      width: 9px;
      height: 9px;
      border-top: 2px solid #003760;
      border-left: 2px solid #003760;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 2;
    }
    .hero-section .information .h4:after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 24px;
      height: 24px;
      top: -5px;
      right: 2px;
      border-radius: 50%;
      z-index: 1;
    }
    .hero-section .information .h4.collapsed:before {
      top: 1px;
      -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
    }
  }
  
</style>